* {
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;
}
header {
  background-color: black;
  color:aqua;
  height:40px;
  width:100%;
  text-align:right;
  line-height: 40px;
  position:sticky;
  top:0;
  border-bottom:5px solid cyan;
}
body{
  background-color: #0c0c0c;
}
a{
  color:aqua;
  text-decoration: none;
}
li {
  display:inline;
  padding: 0 5px;
  font-weight: bolder;
}
img {
  display: block;
  margin:20px auto;
  height: 400px;
  width: 400px;
}

.text-headerbar{
  text-align: right;
  padding-right: 30px;
}

h1 {

}

main.mainmain{
  color:aqua;
  text-align: center;
  padding-top: 10px;
  height: auto;
  width:1600px;
  display: block;
  margin: 20px auto;
  background-color: black;
  border:5px solid cyan;
}